* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%; /* 1 rem = 10px */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    border-bottom: 1px solid #cecece;
    font-family: "Urbanist", sans-serif;
    font-weight: 600; /*Semi Bold*/
    font-size: 2rem;
    padding: 0 10rem 0 10rem;
}

header ul {
    display: inline-flex;
    list-style: none;
}

header ul li:not(:last-child) {
    margin-right: 6rem;
}

header a {
    text-decoration: none;
    color: #817f75;
}

section#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
}

#home div {
    display: flex;
    flex-direction: column;
}

#home div h1 {
    font-family: "Pridi", serif;
    font-weight: 600;
    font-size: 9.6rem;
    color: #ff0035;
    margin-bottom: 1rem;
    line-height: 8rem;
}

#home div h2 {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-size: 4.8rem;
    color: #333;
    margin-bottom: 3.8rem;
    line-height: 5rem;
}

#home div p {
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 2.4rem;
    margin-bottom: 4.8rem;
    color: #817f75;
}

#home div button {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    height: 5.4rem;
    border-radius: 5rem;
    border: none;
    background-color: #ff0035;
    color: #fbfbfb;
}

#home img {
    padding-top: 2.8rem;
}

section#pets-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#pets-destaque .painel-contagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    width: 100%;
    height: 20.3rem;
    padding: 0 10rem 0 10rem;
    background-color: #efefef;
    box-shadow: 0 7px 8px 0 #00000026;
}

.painel-contagem #num-adocoes h3, #num-abrigos h3, #num-envolvidos h3{
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 1rem;
    color: #ff0035;
}

.painel-contagem #num-adocoes p, #num-abrigos p, #num-envolvidos p {
    font-weight: 500;
    font-size: 2.4rem;
    color: #817f75;
}

.painel-contagem .infos {
    padding: 0 8rem 0 8rem;
}

.painel-contagem .infos:not(:last-child){
    border-right: 3px solid #c5c5c5;
}

#pets-destaque #pets-destacados {
    text-align: center;
    margin-top: 9rem;
    width: 100%;
}

#pets-destacados > h2 {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-size: 4rem;
    color: #333;
}

#pets-destacados > p {
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
    color: #817f75;
}

#pets-destacados section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.3rem;
    padding: 0 10rem 0 10rem;
}

#pets-destacados .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 290px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    margin: 0 6.3rem 0 6.3rem;
    border-radius: 1.2rem;
    box-shadow: 0 3px 25px 2px #0000001a;
}

#pets-destacados .card > img {
    margin-bottom: 1.5rem;
}

.info-pet {
    text-align: left;
    align-self: flex-start;
}

.info-pet > h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
    color: #ff0035;
}

.info-pet > h4 {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #232323;
}

.info-pet > p {
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #232323;
}

section#conselhos-adocao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20rem 0 20rem;
    margin-top: 9rem;
}

#conselhos-adocao > h2 {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-size: 4rem;
    color: #333;
}

#conselhos-adocao > p {
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
    color: #817f75;
}

#conselhos-adocao > #conselhos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30rem;
    row-gap: 8rem;
    margin-top: 9rem;
}

.regra {
    text-align: justify;
    font-family: "Urbanist", sans-serif;
}

.regra > h3 {
    font-weight: 500;
    font-size: 2.8rem;
    color: #ff0035;
}

.regra > p {
    font-weight: normal;
    font-size: 1.8rem;
    margin-top: 5px;
    color: #817f75;
}

.selected {
    color: #ff0035;
}