@media screen and (max-width: 768px) {
    header {
        padding: 0 2rem;
    }

    nav.desktop-menu {
        display: none;
    }

    /* SEÇÃO HOME */
    .cta {
        padding: 4rem 2rem;
        flex-direction: column;
    }
    
    .cta img {
        width: 60%;
        margin-top: 3rem;
        margin-bottom: -4rem;
    }

    .cta .home-info {
        width: 100%;
        padding: 0;
    }

    .home-info h1 {
        font-size: 8rem;
    }

    .home-info h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .home-info p {
        font-size: 2rem;
    }

    .dados-campanha {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .dados-campanha .dado:nth-child(1) {
        padding-right: 1rem;
    }

    .dados-campanha .dado:nth-child(2) {
        padding: 0 1rem;
    }

    .dados-campanha .dado:nth-child(3) {
        padding-left: 1rem;
    }

    .dado h2 {
        font-size: 2.8rem;
    }

    .dado p {
        font-size: 1.8rem;
    }

    /* SEÇÃO PETS EM DESTAQUE */
    section#pets-em-destaque {
        padding: 4rem 2rem;
    }

    #pets-em-destaque h2 {
        line-height: 4rem;
    }

    #pets-em-destaque p {
        margin-top: 2rem;
    }

    .destaques {
        flex-direction: column;
    }

    .destaques .card {
        margin-bottom: 4rem;
    }

    /* SEÇÃO CONSELHOS PARA ADOÇÃO */
    section#conselhos-adocao {
        margin-top: calc(100vh - 9rem);
        padding: 4rem 2rem;
    }

    #conselhos-adocao h2 {
        line-height: 4rem;
    }

    #conselhos-adocao p {
        margin-top: 2rem;
    }

    .regras {
        grid-template-columns: 1fr;
    }

    .pets-footer {
        width: 80%;
        margin: 200px auto -27px auto;
    }
}

@media screen and (min-width: 992px) {
    .mobile-menu, .btn-abrir-menu {
        display: none;
    }
}